// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  text-decoration: none;
}
h1.header {
  font-size: 10em;
  font-weight: 600;
  font-style: oblique;
}
h2 {
  color: white;
}
a {
  font-size: 3em;
  position: center;
}
div.feature{
  font-size: 4em;
  color: #0000000;
   float: right;
   position: relative;
}
div.feature h3#pop{

}
h2#list {
  font-size: 6em;
}
div.button{
  position: fixed;
  right: 30px;
  border: 2px solid #ffAD21;
}
